@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");

@keyframes logo-animation {
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
}

.App {
  background-color: black;
  overflow-x: hidden;
}
/* NAV BAR */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0));
  position: fixed;
  padding: 0 50px;
  width: 99vw;
  z-index: 1;
  transition: 500ms;
}

.nav-bar img {
  width: 50px;
  margin-top: 5px;
  margin-bottom: -5px;
  cursor: pointer;
  animation: logo-animation 3s infinite;
}

.nav-p {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-left: -50px;
  background-color: transparent;
}

.nav-p p {
  color: white;
  transition: all 500ms;
  cursor: pointer;
}

.nav-p p:hover {
  color: rgb(57, 153, 255);
}

.fa-user {
  cursor: pointer;
  transition: all 500ms;
  font-size: 20px;
}

.fa-user:hover {
  color: rgb(57, 153, 255);
}

.profile-options {
  background-color: rgba(0, 0, 0, 0.907);
  position: absolute;
  width: 220px;
  height: 250px;
  margin: 20px 0 0 -190px;
  border: rgba(255, 255, 255, 0.29) 1px solid;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
  transition: 300ms;
  animation: fadeIn 300ms;
  opacity: 0;
}

.profile-options p {
  font-size: 16px;
  width: 220px;
  padding: 0 10px;
  cursor: pointer;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 500ms;
  border-top: 1px solid rgba(255, 255, 255, 0.133);
}

.profile-options p:hover {
  color: rgb(57, 153, 255);
  background-color: rgba(255, 255, 255, 0.196);
}

.fa-caret-up {
  position: absolute;
  margin: -14px -178px 0 0;
}

.profile-options .fa-solid {
  margin-bottom: -3px;
}
.premium:hover {
  color: gold !important;
}

.invisible-profile {
  width: 50px;
  height: 50px;
  position: absolute;
  margin: -50px -168px 0 0;
  cursor: pointer;
}



.shop-container{
  width: 500px;
  height: 300px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.907);
  margin: 41px 0px 0 -190px;
  border: rgba(255, 255, 255, 0.29) 1px solid;
  transition: 300ms;
  animation: fadeIn 300ms;
  
  
}

.shop-container .fa-caret-up{
  color: white;
  position: absolute;
  margin: -15px 0px 0 465px;
}

.invisible-shop{
  cursor: pointer;
  width: 55px;
  height: 50px;
  position: absolute;
  margin: -47px 0 0 443px;
  
}
/* Home */

.home-video video {
  width: 1520px;
}
